<div class="card__container">
    <img src={{item.images[0].url}} class="alt=" class="card__itemimg">
    <a href={{item.external_urls.spotify}} target="_blank" class="card__playbutton">
        <img src="https://cdn-icons-png.flaticon.com/512/27/27223.png" width="20" height="20"/>
    </a>
    <div class="card__infocontainer">
        <h4 class="card__itemtitle">{{item.name}}</h4>
        <div class="card__moreinfo">
            <p class="card__singername">{{item.artists[0].name}}</p>
            <div class="card__typeofitem">
                <p>{{item.album_type}}</p>
            </div>
        </div>
    </div>
</div>
